.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a{href: (url_for [doc])}
          .doc
            %p.title= doc.title
            %p.content= truncate(doc.content, length:50)
            %p.date= time_ago_in_words(doc.created_at)
    - else
      %h2 Create Doc!
      %p Start Creating Document and Organize
      %button= link_to "Add Document", new_doc_path
