#banner
  .banner_content
    %h1 File Cabinet
    %p Organize your Life
    %button= link_to "Enter", new_user_registration_path
#callouts
  .callout_inner
    .wrapper
      .callout_inner
        %h2 Organize
        %p Portland hexagon locavore small batch. Jean shorts crucifix flexitarian selvage. Man bun VHS celiac sustainable. Echo park 90's yr vice banjo. Taxidermy chambray tumeric chillwave stumptown knausgaard unicorn, messenger bag health goth hoodie godard fanny pack man bun biodiesel aesthetic. Slow-carb air plant vegan taxidermy, bicycle rights bespoke tbh franzen. Paleo iceland polaroid unicorn ennui.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
